.jumbotron{
	margin-bottom:0px;
	background-image: url(https://gyryxq.bn.files.1drv.com/y4mX6XB-_KlkOx4YYIXhEloC_6rrAKk1Adh0s1QQosbHGIyfCSAWWrmoW4VobD-Akw9_gIA7ldxy74widYA3z4wK33TIrj6WZ_iuBzXmHMDaGkDOcbcaVo0Lo1H0z1NFs2_Aow6Ar1V3SuRUinTOOWXvonZk2hNqfOb3mfCSmUfskd1WqKpMmuWZxCCpXgYwPMLXctVR8iXUg4F8tl3UcOOUw?width=2592&height=1456&cropmode=none);
	background-position: 0% 25%;
	background-size: cover;
	background-repeat:no-repeat;
	color: black;
}